@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Meow+Script:regular);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
body {
	height: 100vh;
}
.container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 250px 1fr 1fr;
	grid-template-rows: 75px 1fr;
	grid-template-areas:
		"header header header"
		"side main main"
		"side main main";
	& > div {
		border: 1px solid black;
	}
	.header {
		grid-area: header;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2rem;
		.logo {
			font-size: 2rem;
			font-family: "Meow Script", sans-serif;
			cursor: default;
		}
		.right {
			.menu {
				display: none;
			}
		}
	}
	.side-nav {
		grid-area: side;
		display: flex;
		flex-direction: column;
		background-color: white;
		.row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.5rem;
			border-bottom: 1px solid black;
			cursor: pointer;
			&:last-child {
				border-bottom: none;
			}
			.label {
				font-size: 1.2rem;
			}
			.icon {
				transform: scale(0.8);
			}
			&:hover {
				background-color: #e7a7a7;
			}
		}
	}
	.products {
		grid-area: main;
		background-color: white;
		padding: 2rem 1rem;
		display: grid;
		overflow-y: scroll;
		grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
		grid-template-rows: min-content;
		gap: 2rem;
		&::-webkit-scrollbar {
			display: none;
		}
		.box {
			background-color: white;
			width: 250px;
			padding-bottom: 2rem;
			border-radius: 15px;
			height: max-content;
			cursor: pointer;
			transition: 0.2s;
			&:hover {
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
				img {
					transform: scale(1.05);
				}
			}
			.image {
				overflow: hidden;
				border-radius: 15px 15px 0 0;

				img {
					width: 100%;
					transition: 0.2s;
					border-radius: 1px solid #000;
					border-radius: 15px 15px 0 0;
					height: auto;
				}
			}
			.info {
				display: flex;
				flex-wrap: wrap;
				padding: 0 1rem;
				gap: 32%;
				.first-line
				{
					width: 100%;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
				}
				.description {
					font-size: 0.9rem;
					line-height: 1.4;
					padding: 0.8rem 0;
				}
				button {
					justify-self: end;
					background-color: #ddd0;
					border-radius: 15px;
					padding: 0.5rem 1rem;
					border: 1px solid #e7a7a7;
					font-size: 0.9rem;
					cursor: pointer;
					transition: 0.2s;
					&:hover {
						background-color: #e7a7a7;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 810px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 75px 1fr;
		grid-template-areas:
			"header"
			"side"
			"main";
		.side-nav {
			display: none;
		}
		.header{
			padding: 0 .5rem 0 1rem;
			.right{
				display: flex;
				.menu{
					display: block;
					margin-left:1rem ;
				}
			}
		}
		.products {
			grid-area: main;
			padding: 1rem;
			gap: clamp(1.5rem, calc(0.6818rem + 1.2121vw), 1.7rem);
			grid-template-columns: repeat(auto-fill, 300px);
			justify-content: center;
			.box {
				width: 100%;
					.image {
						border-radius: 15px 15px 0 0;
					}
					.info {
						.description {
							padding: 0.8rem 0;
						}
						button {
							justify-self: end;
							background-color: #ddd0;
							border-radius: 15px;
							padding: 0.5rem 1rem;
							border: 1px solid #e7a7a7;
							font-size: 0.9rem;
							cursor: pointer;
							transition: 0.2s;
							&:hover {
								background-color: #e7a7a7;
							}
						}
					}
			}
		}
	}
}
@media screen and (max-width: 658px) {
	.container
	{
		.products
		{
			grid-template-columns: repeat(auto-fill, minmax(200px, 500px));
			.box .info .first-line
			{
				padding-top: 1rem;
			}
		}
	}
}
